<h1>Congrats!</h1>

<p class="lead">You have decided to improve <a href="<%= tweet_url %>" target="_blank">one of Donald Trump’s tweets</a>. Below is a cropped screenshot of your improvement.</p>

<img src="<%= image_url %>" class="img-responsive img-thumbnail" alt="<%= tweet_text %>">
