<h1>The Drumpfuscator</h1>

<p class="lead">This is the Drumfuscator, where you can improve on Donald
  Trump’s tweets. To use it, you only need two things: a tweet by Trump, and
  your imagination. For the former, start by pasting its url below.</p>

<div id="urlForm" class="form-group form-group-lg">
  <label id="urlFormLabel" class="control-label" for="inputUrl">Tweet URL</label>
  <div id="urlInputGroup" class="input-group">
    <div class="input-group-addon">https://</div>
    <input class="form-control" type="text" id="inputUrl" aria-describedby="inputUrlStatus" placeholder="Some large integer…">
  </div>
</div>





