<h1>The Trumprover</h1>

<p class="lead">This is the Trumprover, where you can improve on Donald Trump’s
  tweets—or at least add verisimilitude, which will often not be an
  “improvement” per se. Sad! To use it, you only need two things: a tweet by
  Trump and your imagination. For the former, start by pasting its url below.
  For the latter, type it in the text area that will appear once the url is pasted.</p>

<form id="url" action="/" method="POST">
  <div id="urlForm" class="form-group form-group-lg">
    <label id="urlFormLabel" class="control-label" for="inputUrl">Tweet URL</label>
    <div id="urlInputGroup" class="input-group">
      <div class="input-group-addon">https://</div>
      <input name="input_url" class="form-control" type="text" id="inputUrl" aria-describedby="inputUrlStatus" placeholder="I should be a url!">
    </div>
  </div>
</form>
<div id="textarea">
</div>





